/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

.container-fluid {
    width: 100%;
    max-width: 100%;
}

.conteainer {
    width: 100%;
    max-width: 1200px;
}

/* Row */

.row {
    display: flex;
    flex-direction: row;
}

/* Colonne */

/* Regole per tutte le colonne */

[class^="col"] {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

/* Le colonne si dividono lo spazio equamente */

.col {
    flex-grow: 1;
}

/* Colonne in griglia da 12 */
