/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

.container-fluid {
    width: 100%;
    max-width: 100%;
}

.conteainer {
    width: 100%;
    max-width: 1200px;
}

/* Row */

.row {
    display: flex;
    flex-direction: row;
}

/* Colonne */

/* Regole per tutte le colonne */

[class^="col"] {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

/* Le colonne si dividono lo spazio equamente */

.col {
    flex-grow: 1;
}

/* Colonne in griglia da 12 */

.col-1 {
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
}

.col-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.col-3 {
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
}

.col-4 {
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.col-5 {
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.col-6 {
    flex-basis: calc(100% / 12 * 6);
    max-width: calc(100% / 12 * 6);
}

.col-7 {
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.col-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 *8);
}

.col-9 {
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}

.col-10 {
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}

.col-11 {
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

.col-12 {
    flex-basis: 100%;
    max-width: 100%;
}