/* Generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utilities */

.container-fluid {
    width: 100%;
    max-width: 100%;
}

.conteainer {
    width: 100%;
    max-width: 1200px;
}

/* Direzione Row */

.content-star {
    justify-content: flex-start;
    text-align: start;
}

.content-center {
    justify-content: center;
    text-align: center;
}

.content-end {
    justify-content: flex-end;
    text-align: end;
}

.content-around {
    justify-content: space-around;
}

.content-between {
    justify-content: space-between;
}

.content-evenly {
    justify-content: space-evenly;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}

.self-start {
    align-self: flex-start;
}

.self-center {
    align-self: center;
}

.self-end {
    align-self: flex-end;
}

/* Row */

.row {
    display: flex;
    flex-direction: row;
}

/* Colonne */

/* Regole per tutte le colonne */

[class^="col"] {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

/* Le colonne si dividono lo spazio equamente */

.col {
    flex-grow: 1;
}

/* Colonne in griglia da 12 */

.col-1 {
    flex-basis: calc(100% / 12);
    max-width: calc(100% / 12);
}

.col-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.col-3 {
    flex-basis: calc(100% / 12 * 3);
    max-width: calc(100% / 12 * 3);
}

.col-4 {
    flex-basis: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
}

.col-5 {
    flex-basis: calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5);
}

.col-6 {
    flex-basis: 50%;
    max-width: 50%;
}

.col-7 {
    flex-basis: calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7);
}

.col-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

.col-9 {
    flex-basis: calc(100% / 12 * 9);
    max-width: calc(100% / 12 * 9);
}

.col-10 {
    flex-basis: calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10);
}

.col-11 {
    flex-basis: calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11);
}

.col-12 {
    flex-basis: 100%;
    max-width: 100%;
}

/* Offset */

.offset-0 {
    margin-left: 0;
}

.offset-1 {
    margin-left: calc(100% / 12);
}

.offset-2 {
    margin-left: calc(100% / 12 * 2);
}

.offset-3 {
    margin-left: calc(100% / 12 * 3);
}

.offset-4 {
    margin-left: calc(100% / 12 * 4);
}

.offset-5 {
    margin-left: calc(100% / 12 * 5);
}

.offset-6 {
    margin-left: calc(100% / 12 * 6);
}

.offset-7 {
    margin-left: calc(100% / 12 * 7);
}

.offset-8 {
    margin-left: calc(100% / 12 * 8);
}

.offset-9 {
    margin-left: calc(100% / 12 * 9);
}

.offset-10 {
    margin-left: calc(100% / 12 * 10);
}

.offset-11 {
    margin-left: calc(100% / 12 * 11);
}

/* Responsive */

/* Min-Width 576px */

@media screen and (min-width: 576px) {

    /* Col 576px*/

    .col-s-1 {
        flex-basis: calc(100% / 12);
        max-width: calc(100% / 12);
    }
    
    .col-s-2 {
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }
    
    .col-s-3 {
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }
    
    .col-s-4 {
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }
    
    .col-s-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }
    
    .col-s-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    
    .col-s-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }
    
    .col-s-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }
    
    .col-s-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }
    
    .col-s-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }
    
    .col-s-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }
    
    .col-s-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    /* Offset 576px*/

    .offset-s-0 {
        margin-left: 0;
    }

    .offset-s-1 {
        margin-left: calc(100% / 12);
    }
    
    .offset-s-2 {
        margin-left: calc(100% / 12 * 2);
    }
    
    .offset-s-3 {
        margin-left: calc(100% / 12 * 3);
    }
    
    .offset-s-4 {
        margin-left: calc(100% / 12 * 4);
    }
    
    .offset-s-5 {
        margin-left: calc(100% / 12 * 5);
    }
    
    .offset-s-6 {
        margin-left: calc(100% / 12 * 6);
    }
    
    .offset-s-7 {
        margin-left: calc(100% / 12 * 7);
    }
    
    .offset-s-8 {
        margin-left: calc(100% / 12 * 8);
    }
    
    .offset-s-9 {
        margin-left: calc(100% / 12 * 9);
    }
    
    .offset-s-10 {
        margin-left: calc(100% / 12 * 10);
    }
    
    .offset-s-11 {
        margin-left: calc(100% / 12 * 11);
    }
    
}

/* Min-Width 768px */

@media screen and (min-width: 768px) {

    /* Col 768px*/

    .col-m-1 {
        flex-basis: calc(100% / 12);
        max-width: calc(100% / 12);
    }
    
    .col-m-2 {
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }
    
    .col-m-3 {
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }
    
    .col-m-4 {
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }
    
    .col-m-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }
    
    .col-m-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    
    .col-m-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }
    
    .col-m-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }
    
    .col-m-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }
    
    .col-m-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }
    
    .col-m-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }
    
    .col-m-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    /* Offset 768px*/

    .offset-m-0 {
        margin-left: 0;
    }

    .offset-m-1 {
        margin-left: calc(100% / 12);
    }
    
    .offset-m-2 {
        margin-left: calc(100% / 12 * 2);
    }
    
    .offset-m-3 {
        margin-left: calc(100% / 12 * 3);
    }
    
    .offset-m-4 {
        margin-left: calc(100% / 12 * 4);
    }
    
    .offset-m-5 {
        margin-left: calc(100% / 12 * 5);
    }
    
    .offset-m-6 {
        margin-left: calc(100% / 12 * 6);
    }
    
    .offset-m-7 {
        margin-left: calc(100% / 12 * 7);
    }
    
    .offset-m-8 {
        margin-left: calc(100% / 12 * 8);
    }
    
    .offset-m-9 {
        margin-left: calc(100% / 12 * 9);
    }
    
    .offset-m-10 {
        margin-left: calc(100% / 12 * 10);
    }
    
    .offset-m-11 {
        margin-left: calc(100% / 12 * 11);
    }
    
}

/* Min-Width 992 */

@media screen and (min-width: 992px) {

    /* Col 992px*/

    .col-l-1 {
        flex-basis: calc(100% / 12);
        max-width: calc(100% / 12);
    }
    
    .col-l-2 {
        flex-basis: calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }
    
    .col-l-3 {
        flex-basis: calc(100% / 12 * 3);
        max-width: calc(100% / 12 * 3);
    }
    
    .col-l-4 {
        flex-basis: calc(100% / 12 * 4);
        max-width: calc(100% / 12 * 4);
    }
    
    .col-l-5 {
        flex-basis: calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }
    
    .col-l-6 {
        flex-basis: 50%;
        max-width: 50%;
    }
    
    .col-l-7 {
        flex-basis: calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }
    
    .col-l-8 {
        flex-basis: calc(100% / 12 * 8);
        max-width: calc(100% / 12 * 8);
    }
    
    .col-l-9 {
        flex-basis: calc(100% / 12 * 9);
        max-width: calc(100% / 12 * 9);
    }
    
    .col-l-10 {
        flex-basis: calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }
    
    .col-l-11 {
        flex-basis: calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }
    
    .col-l-12 {
        flex-basis: 100%;
        max-width: 100%;
    }

    /* Offset 992px*/

    .offset-l-0 {
        margin-left: 0;
    }

    .offset-l-1 {
        margin-left: calc(100% / 12);
    }
    
    .offset-l-2 {
        margin-left: calc(100% / 12 * 2);
    }
    
    .offset-l-3 {
        margin-left: calc(100% / 12 * 3);
    }
    
    .offset-l-4 {
        margin-left: calc(100% / 12 * 4);
    }
    
    .offset-l-5 {
        margin-left: calc(100% / 12 * 5);
    }
    
    .offset-l-6 {
        margin-left: calc(100% / 12 * 6);
    }
    
    .offset-l-7 {
        margin-left: calc(100% / 12 * 7);
    }
    
    .offset-l-8 {
        margin-left: calc(100% / 12 * 8);
    }
    
    .offset-l-9 {
        margin-left: calc(100% / 12 * 9);
    }
    
    .offset-l-10 {
        margin-left: calc(100% / 12 * 10);
    }
    
    .offset-l-11 {
        margin-left: calc(100% / 12 * 11);
    }
    
}