/* Generics */

[class^="col"] {
    background-color: dodgerblue;
    border: 1px solid white;
    padding: 10px 0;
    color: white;
}

/* Nested */

.nested [class^="col"] {
    background-color: chartreuse;
    border: 2px solid dodgerblue;
    padding: 10px 0;
    max-height: 100%;
}

.nested {
    display: flex;
    padding: 10px 10px;
}

/* First exercise */

.first-exercise {
    margin-bottom: 20px;
}

/* Second exercise */ 

#second-exercise [class^="col"] {
    height: 40px;
}

/* Offset */

#offset [class^="col"] {
    height: 40px;
}

/* Nested */

#nested [class^="col"] {
    height: 60px;
}

#nested [class^="nested"] {
    height: 40px;
    max-height: 100%;
    align-items: center;
}

/* Allignment */

#allignment [class^="col"] {
    height: 40px;
}

#allignment .size-b {
    height: 80px;
}

/* Justify Content */

#justify-content [class^="col"] {
    height: 60px;
}