/* Generics */

[class^="col"] {
    background-color: dodgerblue;
    border: 1px solid white;
    padding: 10px 0;
    color: white;
}

/* Nested */

[class^="nested"] {
    background-color: chartreuse;
    border: 2px solid dodgerblue;
    padding: 10px 0;
}

.nested {
    padding: 10px 10px;
}

.nested {
    display: flex;
}

.nested-2 {
    flex-basis: calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2);
}

.nested-6 {
    flex-basis: 50%;
    max-width: 50%;
}

.nested-8 {
    flex-basis: calc(100% / 12 * 8);
    max-width: calc(100% / 12 * 8);
}

/* First exercise */

.first-exercise {
    margin-bottom: 20px;
}

/* Second exercise */ 

#second-exercise [class^="col"] {
    height: 40px;
}

/* Offset */

#offset [class^="col"] {
    height: 40px;
}

/* Nested */

#nested [class^="col"] {
    height: 50px;
}

#nested [class^="nested"] {
    height: 40px;
    max-height: 100%;
    align-items: center;
}

/* Allignment */